.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
}

.colors {
  background-color: #0a0a0a;
  color: #f6f6f6;
}

.foreground-color {
  background-color: #b1bcc4;
  color: black;
}

.link {
  text-decoration: none;
  color: inherit;
}

.accordion-button {
  transition: color 0.3s;
}

.accordion-button.collapsed {
  background-color: #b1bcc4;
}

.accordion-body {
  background-color: #879096;
}
